* {
  font-family: gupter;
  text-align: center;
}

p, b{
  padding: 0;
  margin: 0;
}

.header, .footer{
  background-color: rgb(186, 124, 53);
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

.nav-link{
  transition: all 0.7s ease;
  position: relative;
}

.nav-link:hover{
  color: rgb(186, 124, 53);
}

.nav-link:after{
  content: "";
  position: absolute;
  height: 2px;
  background-color: rgb(186, 124, 53);
  width: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.nav-link:hover:after{
  width: 100%;
}

h1{
  font-family:'Pacifico', cursive;
  font-size: 4rem;
}

.slogan{
  font-size: 1.3rem;
}

.carousel-inner{
  height: 800px;
}

.carousel-img{
  width: 100%;
  height:auto;
}

.banner{
  background: linear-gradient(to right, rgba(186, 124, 53, 0.5), rgba(186, 124, 53, 0.5)), url(../images/background.webp);
  min-height: 85vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

.container-img-cabañas{
  position: relative;
  height: 15rem;
  width: 15rem;;
  border-radius: 100%;
  margin: 1rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 15px 3px rgba(65, 42, 15, 0.85);
}

.img-cabañas{
  width: 100%;
  height: 100%;
}

.layer-img-cabañas{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(65, 42, 15, 0.85);
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-out;
}

.layer-img-cabañas p{
  margin-top: 43%;
}

.container-img-cabañas:hover > .layer-img-cabañas{
  opacity: 1;
  visibility: visible;
}

.services{
  background-color: rgba(186, 124, 53, 0.5);
}

.service{
  color: rgb(186, 124, 53);
  font-size: 5rem;
  margin: 1rem;
}

.input{
  background-color: rgb(255, 255, 255);
  border-radius: 5rem;
  padding: 5px;
  border: none;
}

.sub-btn{
  background-color: rgb(124, 81, 31);
  color: rgb(255, 255, 255);
  border: none;
  border-top-right-radius: 5rem;
  border-end-end-radius: 5rem;
  padding: 7px;
}

.btn-light, .btn-brown, .btn-lightbrown{
  border-radius: 5rem;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-light{
  background-color: rgb(255, 255, 255);
}

.btn-brown{
  background-color: rgb(186, 124, 53);
  color: rgb(255, 255, 255);
}

.btn-lightbrown{
  background-color: rgba(202, 156, 103, 0.377);
}

.btn:hover{
  background-color: rgb(124, 81, 31);
  color: rgb(255, 255, 255);
}

.container-form{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  background: rgba(92,51,21,0.75);
  padding: 10px;
  border-radius: 50px;
}

.login-form{
  max-width: 40rem;
}

.valoresIngresados-container{
  background-color: rgba(186, 124, 53, 0.705);
}

.card-img{
  height: 20rem;
}